name: Zöglfrex GitHub Actions CI Build
on: [ push ]
env:
  QT_VERSION: "6.9.3"

jobs:
  linux:
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: src

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: ${{ env.QT_VERSION }}

      - name: Compile
        run: |
          qmake Zoeglfrex.pro
          make
          make install INSTALL_ROOT=AppDir
          make clean

      - name: Create AppImage
        run: |
          sudo add-apt-repository universe
          sudo apt install libfuse2
          wget https://github.com/probonopd/linuxdeployqt/releases/download/continuous/linuxdeployqt-continuous-x86_64.AppImage
          chmod +x linuxdeployqt-continuous-x86_64.AppImage
          ./linuxdeployqt-continuous-x86_64.AppImage Zoeglfrex -appimage -exclude-libs=libqsqlmimer
          

      - name: Upload AppImage
        uses: actions/upload-artifact@v4
        with:
          name: Zoeglfrex.AppImage
          path: src/Zöglfrex*.AppImage

  windows:
    runs-on: windows-latest
    defaults:
      run:
        working-directory: src

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: ${{ env.Qt_VERSION }}

      - name: Install Visual C++
        uses: ilammy/msvc-dev-cmd@v1

      - name: Compile
        run: |
          nmake clean
          qmake -config release
          nmake

      - name: Deploy
        run: |
          cd release
          windeployqt Zoeglfrex.exe
          7z a C:\Zoeglfrex.zip *

      - name: Upload executable
        uses: actions/upload-artifact@v4
        with:
          name: Zoeglfrex.zip
          path: C:\Zoeglfrex.zip
          
